
</div>
<div id="header">
</div>
<h1>Susan Carey</h1>
<!-- </div> -->
<div id="offset">
</div>
<section id = "about">
<!--     <div class="curtainContainer">
      <div class="curtain">
      </div> -->
      <h3 id="about-me">About Me</h3>
      <div>
          <p id="about-content">
            I'm currently an art and math teacher at Safety Harbor Montessori! I love to golf, paint, spend time with my family, and garden!</p>
          <img src="https://fbcdn-sphotos-h-a.akamaihd.net/hphotos-ak-xpf1/v/t1.0-9/47284_465566700019_112993_n.jpg?oh=e2fc16ca7463fa5b64f7e58f52bb4a99&oe=5503C928&__gda__=1430158049_e72f9b2b3cf098155bf0d702b0eafde7" id="main-photo"/>
        </div>
      </section>
      <div id="offset2">
      </div>
      <section class = "section" id = "contact">

        <div id="contact-container"
        data--3100-end="opacity: 0"
        data--3300-end="opacity: 1">
        <h2 id="name">
          Susan Bowler Carey
        </h2>
        <h3 id="email">
          SBCarey@aol.com
          <p class="link"><%= link_to 'Check Out My Blog!', controller: 'articles' %></p>
        </h3>
      </div>
    </section>

    <footer>
    </footer>