
</div>
<div id="header">
</div>
<h1>Caity Carey</h1>
<!-- </div> -->
<div id="offset">
</div>
<section id = "about">
<!--     <div class="curtainContainer">
      <div class="curtain">
      </div> -->
      <h3 id="about-me">About Me</h3>
      <div>
          <p id="about-content">
            "Don't Stop Me Now" by Queen is definitely my theme song! A Johnson & Wales graduate, I'm currently the Assistant Food and Beverage Manager at the Hilton Boston Logan Airport. I'm a pretty random person, anything else you wanna know just ask!</p>
          <img src="https://scontent-a-sjc.xx.fbcdn.net/hphotos-xaf1/v/t1.0-9/183050_560922305370_1325027_n.jpg?oh=061e20f40ff511fb9fe88e1c2ad8d9ae&oe=54F3CB96" id="main-photo"/>
        </div>
      </section>
      <div id="offset2">
      </div>
      <section class = "section" id = "contact">

        <div id="contact-container"
        data--3100-end="opacity: 0"
        data--3300-end="opacity: 1">
        <h2 id="name">
          Caitlin Carson Carey
        </h2>
        <h3 id="email">
          ccarey6486@gmail.com
          <p class="link"><%= link_to 'Check Out My Blog!', controller: 'articles' %></p>
        </h3>
      </div>
    </section>

    <footer>
    </footer>