
</div>
<div id="header">
</div>
<h1>Tom Carey</h1>
<!-- </div> -->
<div id="offset">
</div>
<section id = "about">
<!--     <div class="curtainContainer">
      <div class="curtain">
      </div> -->
      <h3 id="about-me">About Me</h3>
      <div>
          <p id="about-content">
            I'm an attorney and an entrepreneur. I love travelling, skiing, boating, and am obsessed with my dog Rocky. Feel free to get in touch with me for business adventures!</p>
          <img src="http://careyandleisure.com/wp-content/uploads/2013/11/Thomas-Carey.jpg" id="main-photo"/>
        </div>
      </section>
      <div id="offset2">
      </div>
      <section class = "section" id = "contact">

        <div id="contact-container"
        data--3100-end="opacity: 0"
        data--3300-end="opacity: 1">
        <h2 id="name">
          Thomas William Carey
        </h2>
        <h3 id="email">
          <p>tcarey@tcarey.com</p>

          <p>727-804-8100</p>
          <p class="link"><%= link_to 'Check Out My Blog!', controller: 'articles' %></p>
        </h3>
      </div>
    </section>

    <footer>
    </footer>