<!DOCTYPE html>
<html>
<head>
  <title>Tom Carey</title>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <%= csrf_meta_tags %>
  <link href="http://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet" type="text/css">
</head>
<body>
  <div id="main-content">
    <div class = "navbar" data-ui = "nav">
      <div class= "navbar-left">
        <div class= "nav-link"><a data-scroll href = "/#header">HOME</a></div>
        <div class= "nav-link"><a data-scroll href = "/#offset">ABOUT</a></div>
        <div class= "nav-link"><a data-scroll href = "/#offset2">CONTACT</a></div>
        <div class="nav-link">
              <a href="#" id="companies">COMPANIES</a>
              <ul>
                <li><a href="http://careyandleisure.com/">Carey and Leisure</a></li>
                <li><a href="http://clientlegalfunding.com/">Client Legal Funding</a></li>
                <li><a href="http://www.superpages.com/bp/Clearwater-FL/Mediclaim-Financial-LLC-L2520856928.htm">Mediclaim Financial LLC</a></li>
              </ul>
        </div>
      </div>

      <div class= "navbar-right">
        <div id= "facebook" class="nav-item" >
          <a class= "nav-logo" href = "https://www.facebook.com/tom.carey.792?fref=ts">
            <i class= "fa fa-facebook-square"></i></a>
          </div>
          </div>
        </div>

        <%= yield %>

      </body>
      </html>
